[submodule "dbj_capi"]
	path = dbj_capi
	url = https://github.com/dbj-data/dbj_capi.git
[submodule "dbj_cpp"]
	path = dbj_cpp
	url = https://github.com/dbj-data/dbj_cpp.git
[submodule "simplelog"]
	path = simplelog
	url = https://github.com/dbj-data/simplelog.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "ubut"]
	path = ubut
	url = https://github.com/dbj-data/ubut.git
