[submodule "simplelog"]
	path = simplelog
	url = https://github.com/dbj-systems/dbj--simplelog.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "ubut"]
	path = ubut
	url = https://github.com/dbj-data/ubut.git
